version: '3.9'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: home-library-app-nodejs2025q2
    ports: 
      - "4000:4000"
    env_file: 
      - .env
    depends_on:
      - db
    networks: 
      - app-network
    restart: unless-stopped

  db:
    build:
      context: .
      dockerfile: Dockerfile.db
    container_name: database-nodejs2025q2
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network
    restart: unless-stopped
  
networks:
  app-network:
    driver: bridge

volumes:
  postgres_data: